/* ROOT VARIABLES */
:root {
    --maincolor: #32826c;
    --bgcolor: #fefefe;
    --accentcolor: #b08f26;
    --textcolor: #2b2b2b;
    --maincolorlt: #93bdaf;
}

/***** BASE STYLES *****/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: var(--textcolor);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bgcolor);
}
main {
    width: 100%;
}
h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.778em;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    color: var(--maincolor);
}
h3 {
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 1.778em;
    color: var(--maincolor);
}
h4 {
    width: 100%;
}
p {
    font-size: 1.15em;
}
a {
    color: var(--maincolor);
}

/* BANNER STYLES */
.banner-text {
    color: var(--textcolor);
    font-weight: bold;
    background-image: url('../img/teal-bg-horizontal.jpg');
    padding: 10px 30px 10px 10px;
    margin: 10px 0;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    border: 2px solid var(--accentcolor);
    border-left: none;
}
.banner-text > * {
    color: var(--textcolor);
    font-weight: bold;
}
.banner-text p {
    margin: 0;
}

/***** GRID *****/
.full-width {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.half-width {
    width: 45%;
    margin: 0 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 2.5%;
}

/***** NAV BAR *****/
nav {
    position: absolute;
    top: 0;
    right: .5em;
    z-index: 10;
}
nav ul {
    display: flex;
    margin-top: 0;
}
nav ul a {
    list-style-type: none;
    margin: -25px .5em 0;
    width: 100px;
    height: 100px;
    background: hsla(0,100%,100%,.6);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    transition: all 0.2s ease;
}
nav ul a:nth-of-type(2n + 1) {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}
nav ul a:hover {
    margin: 0 .5em;
    background: hsla(0,100%,100%,.85);
}
nav ul a {
    text-decoration: none;
    color: var(--textcolor);
    font-weight: 600;
}
#collapse-nav {
    display: none;
}
#slideout {
    display: none;
}

/***** HEADER *****/
header {
    background-image: url(../img/teal-bg-horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    max-width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}
#header-text {
    border: solid 3px var(--accentcolor);
    padding: 2em 6em;
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,100%,100%,.3);
}
header h1 {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
header h2 {
    max-width: 500px;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    color: var(--textcolor);
    font-size: 1.5em;
    padding-top: 0;
}

/***** PORTFOLIO *****/
#portfolio {
    margin: 4em 3em;
}
#portfolio .content-wrapper {
    flex-flow: row nowrap;
    margin: 0.75em 0;
    max-width: 1200px;
}
#portfolio .content-wrapper:nth-of-type(even) {
    flex-direction: row-reverse;
}
#portfolio h2 {
    margin: 1em auto;
    width: 100%;
}
.portfolio-text {
    padding-left: 10px;
}
.portfolio-img img {
    margin: 25px 0;
    width: 100%;
    max-width: 550px;
    border: solid 3px var(--maincolorlt);
    border-radius: 10px;
}
#portfolio a.case-study-link {
    color: var(--maincolor);
    font-weight: bold;
}

/***** ABOUT *****/
#about {
    background-image: url('../img/teal-bg-horizontal.jpg');
    background-size: cover;
    padding: 3em 0;
}
#about h2,
#about h3,
#about p {
    color: var(--bgcolor);
}
#about img {
    margin: 25px 0;
    width: 100%;
    max-width: 550px;
    border: solid 3px var(--maincolor);
    border-radius: 10px;
}

/***** CONTACT *****/
#contact {
    padding-top: 3.5em;
    background: #095156;
    clear: both;
    width: 100%;
}
#contact h2 {
    color: var(--bgcolor);
}
footer .content-wrapper .full-width {
    justify-content: space-between;
}
footer .third-width {
    flex: 1 25%;
    margin: 0 2%;
}
#contact h3,
#contact h4 {
    color: var(--bgcolor);
    text-align: center;
}
#contact a {
    text-decoration: underline;
    color: var(--bgcolor);
}
.table {
    display: table;
    margin: 0 auto;
    padding: 0;
}
#contact ul {
    list-style: none;
    padding-left: 0;
    margin: auto;
}
#contact li {
    display: inline-block;
}
#contact i {
    font-size: 3.25em;
    color: var(--bgcolor);
    margin: 0 8px;
}
#contact p {
    font-size: 0.778em;
    color: var(--bgcolor);
    text-align: center;
    clear: both;
    padding-top: 25px;
}

/***** CASE STUDIES HOME PAGE *****/
#cs-subtitle {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
.cs-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cs-element {
    width: calc(100% / 3);
    max-width: 300px;
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-gap: 10px;
    margin-bottom: 50px;
}
.cs-element:not(:first-of-type) {
    margin-left: 20px;
}
.cs-element h2,
.cs-element h3,
.cs-element p {
    margin: 0;
    padding: 0;
}
.cs-element h3 {
    font-size: 1.5rem;
    color: var(--textcolor);
    font-weight: 400;
    text-align: center;
}
.cs-element a {
    margin: 0 auto;
}
.cs-element a img {
    max-width: 275px;
    margin: 0 auto;
}
@media screen and (max-width: 1000px) {
    .cs-element {
        width: 50%;
        max-width: 400px;
        padding: 10px;
    }
}
@media screen and (max-width: 839px) {
    .cs-container {
        flex-direction: column;
        align-items: center;
    }
    .cs-element {
        width: 90%;
    }
    .cs-element:not(:first-of-type) {
        margin-left: 0;
    }
    .cs-element a img {
        max-width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .cs-element a img {
        max-width: 250px;
    }
}

/***** CASE STUDIES PAGES *****/
#second-page-nav #full-nav a,
#second-page-nav #collapse-nav a {
    background: rgba(176, 143, 38, 0.7);
}
.case-study-wrapper {
    margin: 3rem auto;
    padding: 10px;
    max-width: 1200px;
}
#case-study-headline {
    background-image: url('../img/teal-bg-horizontal.jpg');
    background-size: cover;
    margin-top: 100px;
    clip-path: polygon(0 0, 80% 0%, 75% 100%, 0% 100%);
    border: 2px solid var(--accentcolor);
    border-left: none;
}
#case-study-headline h1 {
    font-family: 'Merriweather', serif;
    padding-left: 10%;
    width: 75%;
}
.case-study-wrapper img {
    border: 2px solid var(--accentcolor);
    border-radius: 10px;
    max-width: 400px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.row > * {
    margin: 10px;
}
.right {
    flex-direction: row-reverse;
}
.left {
    flex-direction: row;
}
.row:nth-of-type(3) {
    justify-content: flex-start;
}
.row h2 {
    padding-top: 0;
    text-align: left;
}
.cs-text-wrapper p:last-of-type {
    margin-bottom: 0;
}
#mission-statement {
    width: 80%;
    margin: 10px auto;
    font-size: 1.25em;
    line-height: 1.75;
    padding: 10px 30px 10px 20px;
}

/* ================= MEDIA QUERIES =================== */
@media screen and (max-width: 850px) {
    .row,
    .row:nth-of-type(2n + 7) {
        flex-direction: column;
    }
    .row ul {
        width: 50%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
/* HEADER */
#hero div {
    max-width: 75%;
}
header h1 {
    font-size: 1.5em;
}
header h2 {
    font-size: 0.95em;
}

/* PORTFOLIO */
#portfolio .content-wrapper {
    display: flex;
    flex-direction: column;
}
#portfolio .content-wrapper:nth-of-type(even) {
    flex-direction: column;
}
.content-wrapper .half-width {
    width: 85%;
}

/* ABOUT */
#about .content-wrapper .half-width {
    width: 80%;
}
#about h3 {
    text-align: center;
}

/* CONTACT */
#contact .content-wrapper {
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width: 600px) {
    #logo {
        max-width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;
    }
    #header-text {
        padding: 1em 3em;
    }
    #full-nav {
        display: none;
    }
    #collapse-nav {
        display: block;
    }
    #slideout {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/teal-bg-horizontal.jpg');
        background-size: cover;
        transition: all .6s ease-in-out;
    }
    .offscreen {
        right: -100vw;
    }
    .onscreen {
        right: 0;
    }
    #slideout #close {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        z-index: 12;
        margin: 0.5em;
        padding: 0.75em;
        text-decoration: none;
        color: var(--textcolor);
    }
    #slideout i {
        font-size: 2em;
    }
    #slideout ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        background-color: hsla(0,100%,100%,.85);
        border: solid 2px var(--accentcolor);
    }
    #slideout ul li:first-of-type {
        align-self: flex-end;
        top: 0;
        right: 0;
        width: auto;
        padding: 0;
    }
    #slideout ul li:last-of-type {
        padding-bottom: 1em;
    }
    #slideout ul li a i {
        font-size: 1em;
    }
    #slideout a {
        align-items: center;
        width: 100%;
        height: auto;
        background: transparent;
        margin: 0;
        padding: 10px;
        clip-path: none;
    }
    #slideout ul li {
        width: 100%;
        list-style-type: none;
        text-align: center;
        font-size: 1.5em;
        padding: 0.5em 2em;
    }
    /* CASE STUDY PAGES */
    .row img {
        max-width: 300px;
    }
}